{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/{{genre._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit This {{genre.genre}}</legend>
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter name" 
                class="form-control"
                value="{{genre.genre}}"
            >
        </fieldset>
        <div class="btn-group">
            <input 
            type="submit" 
            value="Edit {{ genre.genre }}" 
            class="btn btn-success"
            >
            <a href="/" class="btn btn-warning">Nevermind</a>
        </div>
    </form>
</div>
{% endblock %}