{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">Welcome!</h2>
    <div class="row">
        <a href="/new" class="btn btn-dark" style="width: 10rem;">Create New Genre</a>
        {% for genre in genres %}
        <ul>
            <li>{{genre.genre}}</li>
        </ul>
            <a href="/{{genre._id}}" class="btn btn-info">View {{genre.genre}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}