<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Music Finder App</title>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/genre" class="navbar-brand">Music Finder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <nav class="navbar navbar-dark ">
                    <a href="/artist/new" class="nav-link text-light">New</a>
                </nav>
                <nav class="navbar navbar-dark ">
                    <a href="/users/signup" class="nav-link text-light">Sign Up</a>
                </nav>
                <nav class="navbar navbar-dark ">
                    <a href="/users/login" class="nav-link text-light">Log In</a>
                </nav>
                <nav class="navbar navbar-dark ">
                    <a href="/users/logout" class="nav-link text-light">Log Out</a>
                </nav>
            </div>
        </div>
    </nav> -->
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      
    <main>
        {% block content %}
        My content
        {% endblock %}
    </main>
</body>
</html>