{% layout 'layout.liquid' %}

{% block content %}
{% for artist in artists %}
<h2>{{artist.name}}</h2>
<h2>{{artist.albums}}</h2>
<h2>{{artist.genre}}</h2>
<h2>{{artist.fave}}</h2>
        
{% endfor %}
{% endblock %}